* {
    align-content: center;
    text-align: center;
}

header {
    background-image: url(https://i.pinimg.com/564x/4f/ed/4f/4fed4f8e48e1869fd913af316088eb7b.jpg);
    padding-bottom: 0.01rem;
    border-style: outset;
    border-color: black;
}
h1 {
    font-size: 4rem;
    animation: bounce;
    animation-duration: 2s;
    padding-bottom: 2rem;
    color: aliceblue;
}
ul {
    background-color:black;
}
li {
    background-color:cadetblue;
}
.nav-link {
    color: aliceblue;
}
#tblHead {
    background-color:darkseagreen;
}
.cardColor{
background-color: burlywood;
border-radius: 10%;
margin-bottom: 1rem;
}
.spacing {
    margin-bottom: 1rem;
    background-color: black;
    color: aliceblue;
    border-radius: 7%;
    width: 14rem;
}
.imgBorder {
    border-radius: 25%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#display-section {
    width: 52rem;
}
#describePage {
    margin-top: 2rem;
}
#carousel {
    margin-top: 2rem;
}
