* {
    align-content: center;
    text-align: center;
}
div {
    display: inline-flexbox;
    margin: 2rem;
}
header {
    font-size: 3rem;
    margin-bottom: 1rem;
    background-image: url(/Images/CDome-StoryImage.jpg);
}
